<div class="m-portlet__body">
  <form  class="m-form m-form--fit m-form--label-align-right" [formGroup]="form1">
    <div class="m-portlet__body">
      <div class="form-group m-form__group m--margin-top-10 m--hide">
        <div class="alert m-alert m-alert--default" role="alert">
          The example form below demonstrates common HTML form elements that receive updated styles from Bootstrap with additional classes.
        </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-10 ml-auto">
          <h3 class="m-form__section">2.Change Password</h3>
        </div>
      </div>
      <div class="form-group m-form__group row">
        <label for="id" class="col-2 col-form-label">Old Password</label>
        <div class="col-7">
          <input formControlName="oldPwd"  id="oldPwd"type="password" class="form-control" />
          <div class="alert alert-danger" *ngIf="oldPwd.touched && oldPwd.invalid">
            <div *ngIf="oldPwd.errors.required">Old Password is required.</div>
            <div *ngIf="oldPwd.errors.shouldBe1234">Old Password is not valid.</div>
          </div>
        </div>
         </div>
         <div class="form-group m-form__group row">
          <label for="id" class="col-2 col-form-label">New Password </label>
          <div class="col-7">
            <input formControlName="newPwd"  id="newPwd" type="password" class="form-control" />
              <div class="alert alert-danger" *ngIf="newPwd.touched && newPwd.invalid">
             <div *ngIf="newPwd.errors.required">New Password is required.   
             </div>
             </div>
          </div>
           </div>
           <div class="form-group m-form__group row">
            <label for="id" class="col-2 col-form-label">Confirm Password </label>
            <div class="col-7">
              <input  formControlName="confirmPwd" id="confirmPwd" type="password"class="form-control" />
              <div class="alert alert-danger" *ngIf="confirmPwd.touched && confirmPwd.invalid">
                <div *ngIf="confirmPwd.errors.required">Confirm Password is required.</div>
              </div>
            </div>
             </div>
             <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions">
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-7">
                    <button  class="btn btn-accent m-btn m-btn--air m-btn--custom">Confim Password</button>&nbsp;&nbsp;
                  </div>
                </div>
              </div>
            </div>
    </div>
  </form>
</div>